# ===== JetBrains IDE files =====
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
/.idea/

# ===== Node.js =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Environment variables =====
.env

# ===== System files =====
.DS_Store
Thumbs.db
